<!-- popup size 500x680 -->
<div class="<%= "paymentPop cType #{@BgColor}" %>">
  <p class="tit">
    <img src="<%= asset_url("danal/img_tit.gif") %>" width="494" height="48" alt="다날휴대폰결제" />
    <span class="logo"><img src="<%= @URL %>" width="119" height="47" alt="" /></span>
  </p>
  <div class="tabArea">
    <ul class="tab">
      <li class="tab01">결제서비스에러</li>
    </ul>
    <p class="btnSet">
      <a href="JavaScript:window.open( '<%= "http://ui.teledit.com/Danal/Teledit/Web/Guide.php?IsUseCI=#{ @byPassValue["IsUseCI"] }&CIURL=#{ @URL }&BgColor=#{ @BgColor }','HelpWindow','scrollbars=no,width=520,height=700" %>' );"><img src="<%= asset_url("danal/btn_useInfo.gif") %>" width="55" height="20" alt="이용안내" /></a>
      <a href="JavaScript:OpenCallCenter();"><img src="<%= asset_url("danal/btn_customer.gif") %>" width="55" height="20" alt="고객센터" /></a>
    </p>
  </div>
  <div class="content">
    <div class="alertBox">
      <p class="type01"><strong>에러 내용(<%= @res["Result"] %>)</strong><br/><%= @res["ErrMsg"] %></p>
    </div>
    <div class="infoText">
      <p class="t02">다날 고객센터 : <strong>1566-3355</strong> (전국공통)</p>
    </div>
    <div class="grayBox" style="margin-top:11px;">
      <p class="type02">상담원 통화가능시간 : <br/>
        평일 : 9시 ~ 19시<br/>
        <strong>토요일, 일요일, 공휴일 휴무</strong></p>
    </div>
    <p class="btnRetry"><a href="<%= @byPassValue["BackURL"] %>">
      <% if @AbleBack == false %>
          <img src="<%= asset_url("danal/btn_cancel_error.gif") %>" width="110" height="32" alt="결제 재시도" />
      <% else %>
          <img src="<%= asset_url("danal/btn_retry.gif") %>" width="110" height="32" alt="결제 재시도" />
      <% end %>
    </a>
    </p>
  </div>
  <div class="footer">
    <dl class="noti">
      <dt>공지사항</dt>
      <dd>다날 휴대폰 결제를 이용해주셔서 감사합니다.</dd>
    </dl>
  </div>
</div>
