<% if @res["Result"] == "0" %>
    <%= form_tag( { controller: "pay", action: "success" }, method: "post", name: "Success") do %>
      <%= @form_http_var.html_safe %>
      <%= @form_res.html_safe %>
      <%= @form_res2.html_safe %>
    <% end %>
    <script>
        document.Success.submit();
    </script>
<% else %>
    <%= render partial: "pay/error" %>
<% end %>