<% if @res["Result"] == "0" %>
    <form name="Ready" action="https://ui.teledit.com/Danal/Teledit/FlexMobile/Start.php" method="post">
      <%= @form_transR.html_safe %>
      <%= @form_by_pass_value.html_safe %>
      <input type="hidden" name="CPName"      value="<%= @cpName %>">
      <input type="hidden" name="ItemName"    value="<%= @itemName %>">
      <input type="hidden" name="ItemAmt"     value="<%= @itemAmt %>">
      <input type="hidden" name="IsPreOtbill" value="<%= @IsPreOtbill %>">
      <input type="hidden" name="IsSubscript" value="<%= @IsSubscript %>">
    </form>
    <script Language="JavaScript">
        document.Ready.submit();
    </script>
<% else %>
    <%= render partial: "pay/error" %>
<% end %>