<div class="<%= "paymentPop cType #{ @BgColor }" %>">
  <p class="tit">
    <img src="<%= asset_url("danal/img_tit.gif") %>" width="494" height="48" alt="다날휴대폰결제" />
    <span class="logo"><img src="<%= @URL %>" width="119" height="47" alt="" /></span>
  </p>
  <div class="tabArea">
    <ul class="tab">
      <li class="tab01">결제 성공</li>
    </ul>
    <p class="btnSet">
      <a href="JavaScript:OpenHelp();"><img src="<%= asset_url("danal/btn_useInfo.gif") %>" width="55" height="20" alt="이용안내" /></a>
      <a href="JavaScript:OpenCallCenter();"><img src="<%= asset_url("danal/btn_customer.gif") %>" width="55" height="20" alt="고객센터" /></a>
    </p>
  </div>
  <div class="content">
    <div class="alertBox">
      <p class="type02"><span>결제가 정상 처리되었습니다.</span></p>
    </div>
	<p class="btnSet02"><a href="<%= root_path %>"><img src="<%= asset_url("danal/btn_ok.gif") %>" width="80" height="32" alt="확인" /></a></p>
  </div>
  <div class="footer">
    <dl class="noti">
      <dt>공지사항</dt>
      <dd>다날 휴대폰 결제를 이용해주셔서 감사합니다.</dd>
    </dl>
  </div>
</div>
