<!DOCTYPE html>
<html>
<head>
  <!-- popup size 500x680 -->
  <title>휴대폰 소액결제</title>

  <%= javascript_include_tag 'danal', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'danal', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>
<body>
<%= yield %>
</body>
</html>